.summonerContainer {
    width:100%;
    max-width:1100px;
    margin:auto;
    background-color:lightgray;
}
/*Profile Info*/
#profileInfo {
    border: 1px darkgray solid;
    border-radius: 1px;
    width:300px;
    position: relative;
}
#profileIcon {
    width:48px;
    height:48px;
    background-color:darkgray;
}
#summonerName {
    position:absolute;
    left:52px;
    padding:4px;
    top:0px;
}
#summonerLevel {
    position:absolute;
    left:52px;
    padding:4px;
    bottom:0px;
}
/*Match History*/
.matchHistoryContainer {
    width:600px;
    background-color:whitesmoke;
}
.matchMainContainer {
    opacity:1;
    position:relative;
    height:200px;
    overflow: hidden;
}
.matchMainContainer img {
    width:100%;
    z-index: -1;
}
.matchContainer {
    height:auto;
}
.matchMoreInfoContainer {
    height:0px;
    overflow: hidden;
    transition-duration: .2s;
}
.matchMoreInfoContainer * {
    position: relative;
    z-index:10;
}
.matchMainContainer > #expandMatch {
    position:absolute;
    right:0px;
    bottom:0px;
}
.playerContainer * {
    display: inline-block;
    line-height: 24px;
}
.playerContainer {
    height:24px;
}